body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url('fondo.jpeg'); /* Imagen de fondo (cambia 'fondo.jpg' por tu imagen) */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    background-color: rgba(51, 51, 51, 0.8); /* Fondo semitransparente */
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav button {
    margin: 5px;
    padding: 10px;
    background-color: #555;
    color: white;
    border: none;
    cursor: pointer;
}

nav button:hover {
    background-color: #777;
}

main {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
    border-radius: 10px;
    margin: 20px;
}

.hidden {
    display: none;
}

section {
    margin-bottom: 20px;
}

input[type="file"], input[type="number"] {
    margin-bottom: 10px;
    padding: 5px;
}

button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

#matrizAInput input, #matrizBInput input {
    width: 50px;
    margin: 5px;
}

#resultadosAlgebra {
    margin-top: 20px;
    white-space: pre-wrap; /* Para mantener el formato de los resultados */
}